@sm-color: #003366;

.homeCenter {
    width:800px;
    padding-top:100px;
}
.center {margin:0 auto;}
.thumb{width:50px;}

.sm-thumb {
    width:100%;
}

.mainImage {width:100%;}

.col-md-3 {padding-left:0px;}


 .sm-thumb2{
  width: 50px;
  float: left;
  margin:8px;
 }

.innerContainer {
 overflow:scroll;
height:250px;
width:300px;
}

.sm-main-image{
 float:right;
  width:420px;
}
.thumbContainer{
 //width:265px;
// height:250px;

}

.sm-thumb-container {
  column-count:  4;
  column-gap: 0px;
  width: 250px;
  height:250px;
  overflow:scroll;
  padding:0px;
  float:left;
}

li.sm-thumb-li {
  width: 50px ;
  height: 50px;
  //margin:9px;
   margin-bottom:12px;

}

/* overriding sage menu */

.navbar-default .navbar-nav{
    font-size:9pt;

}
.navbar-default .navbar-nav>li>a {

    color:white;
    font-size:inherit;
    font-weight:bold;
    font-family:"Arial", "Helvetica", "sans-serif";

    &:hover{
     color:lightgray;
    }
}

.navbar-collapse collapse in>[aria-expanded="true"]{

    @sm-color: red;

}
.nav>li>a {
    padding:0px 20px;
}

.navbar-default {
    background-color:@sm-color;
}


