.homeCenter {width:800px;}
.center {margin:0 auto;}
.thumb{width:50px;}

.sm-thumb {
    width:100%;
}

.mainImage {width:100%;}

.col-md-3 {padding-left:0px;}


 .sm-thumb2{
  width: 50px;
  float: left;
  margin:8px;
 }

.innerContainer {
 overflow:scroll;
height:250px;
width:300px;
}

.thumbContainer{
 //width:265px;
// height:250px;

}
