.header800 {
width:@mainWidth;
margin: 0 auto;
}

.navbar-toggle {float:right;}

.navbar-nav{float:right;}

.mainWidth{width:@mainWidth;}


@media (max-width : 768px){
    .navbar-toggle { margin-right:50px;}
}

//.navbar-toggle {margin-right:15px;}

//fi
